@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --violet:#9e7f66;
    --lightViolet: #939BF4;
    --veryDarkBlue: #19202D;
    --midnight: #121721;
    --white: #fff;
    --lightGrey: #F4F6F8;
    --gray: #9DAEC2;
    --darkGrey: #6E8098;
    --size-h1: 28px;
    --size-h2: 24px;
    --size-h3: 20px;
    --size-h4: 14px;
}
body[data-theme="light"] {
    --bg-color: var(--lightGrey);
}
body[data-theme="dark"] {
    --bg-color: var(--midnight);
}

body {
    background-color: var(--bg-color);
}
.container{
    width: 100%;
}
.header{
    background-color: rgba(89, 100, 224, 1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px 24px;
}
.header-mode{
    display: flex;
    align-items: center;
    gap: 16px;
}
#theme-btn{
    display: none;
    cursor: pointer;
}
#theme-label{
    width: 48px;
    height: 24px;
    padding: 5px;
    border-radius: 999px;
    background-color: var(--white);
    display: inline-block;
}
#theme-label::after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(89, 100, 224, 1);
    position: absolute;
    transition: transform 0.3s;
}
#theme-label:has(input:checked)::after{
    transform: translateX(24px);
}
.search-container{
    display: flex;
    justify-content: space-between;
    padding: 31px 24px;
    margin-inline: auto;
    width: 327px;
    height: 80px;
    background-color: var(--white);
    border-radius: 6px;
}
.search-container input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--darkGrey);
}
.container .search-container{
    margin-top: -24px;
}
.search-container .search-button-div .fa-solid.fa-filter{
    color: var(--gray);
    height: 20px;
    width: 20px;
}
.search-container .search-button-div .fa-solid.fa-search{
    background-color: #5964E0;
    padding: 14px;
    margin-top: -15px;
    border-radius: 5px;
    color: white;
}