@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --violet:#9e7f66;
    --lightViolet: #939BF4;
    --veryDarkBlue: #19202D;
    --midnight: #121721;
    --white: #fff;
    --lightGrey: #F4F6F8;
    --gray: #9DAEC2;
    --darkGrey: #6E8098;
    --size-h1: 28px;
    --size-h2: 24px;
    --size-h3: 20px;
    --size-h4: 14px;
}
.container{
    width: 100%;
}
.header{
    background-color: rgba(89, 100, 224, 1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px 24px;
}
#theme-btn{
    display: none;
}
#theme-label{
    width: 48px;
    height: 24px;
    padding: 4px;
    border-radius: 999px;
    background-color: var(--white);
    display: inline-block;
}
#theme-label::before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--midnight);
    display: block;
}